CREATE TABLE fo_schedules (id BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,fo_mode ENUM('Utama', 'Tambahan', 'Pengambilan') NOT NULL,warehouse_division_id BIGINT UNSIGNED NOT NULL,day VARCHAR(255) NOT NULL,open_time TIME NOT NULL,close_time TIME NOT NULL,notes TEXT NULL,is_active BOOLEAN DEFAULT TRUE,created_at TIMESTAMP NULL DEFAULT NULL,updated_at TIMESTAMP NULL DEFAULT NULL,FOREIGN KEY (warehouse_division_id) REFERENCES warehouse_divisions(id) ON DELETE CASCADE);
