CREATE TABLE fo_schedule_outlets (fo_schedule_id BIGINT UNSIGNED NOT NULL,outlet_id BIGINT UNSIGNED NOT NULL,created_at TIMESTAMP NULL DEFAULT NULL,updated_at TIMESTAMP NULL DEFAULT NULL,PRIMARY KEY (fo_schedule_id, outlet_id),FOREIGN KEY (fo_schedule_id) REFERENCES fo_schedules(id) ON DELETE CASCADE,FOREIGN KEY (outlet_id) REFERENCES outlets(id) ON DELETE CASCADE);
