CREATE TABLE fo_schedule_regions (fo_schedule_id BIGINT UNSIGNED NOT NULL,region_id BIGINT UNSIGNED NOT NULL,created_at TIMESTAMP NULL DEFAULT NULL,updated_at TIMESTAMP NULL DEFAULT NULL,PRIMARY KEY (fo_schedule_id, region_id),FOREIGN KEY (fo_schedule_id) REFERENCES fo_schedules(id) ON DELETE CASCADE,FOREIGN KEY (region_id) REFERENCES regions(id) ON DELETE CASCADE);
