CREATE TABLE fo_schedule_warehouse_divisions (fo_schedule_id BIGINT UNSIGNED NOT NULL,warehouse_division_id BIGINT UNSIGNED NOT NULL,created_at TIMESTAMP NULL DEFAULT NULL,updated_at TIMESTAMP NULL DEFAULT NULL,PRIMARY KEY (fo_schedule_id, warehouse_division_id),CONSTRAINT fk_fo_schedule_wd_schedule FOREIGN KEY (fo_schedule_id) REFERENCES fo_schedules(id) ON DELETE CASCADE,CONSTRAINT fk_fo_schedule_wd_division FOREIGN KEY (warehouse_division_id) REFERENCES warehouse_division(id) ON DELETE CASCADE);
